:root{
  --main:#f00;
  --Bg: #212121;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection{
  background: var(--main);
  color: #000;
}

body{
  font-family: sans-serif;
  color: #fff;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url(/assets/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background: var(--main);
}
::-webkit-scrollbar-track{
  background: #000;
}